<head>
    <meta charset="=UTF=8">
    <meta name="viewport" content="width=device-width, initial=scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <div class="container">
        <h2>User Log</h2>

        {% if usr %}
        <table>
            <tr>
                <th>User</th>
                <th>Timestamp</th>
            </tr>
            {% for name, timestamp in usr %}
            <tr>
                <td>{{ name }}</td>
                <td>{{ timestamp }}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <p>No user log records found.</p>
        {% endif %}

        <div style="margin-top: 40px;">
            <form action="/main" method="post">
                <input type="submit" value="Main">
            </form>
        </div>
    </div>
</body>

